<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831382223372-iort215fnjj4p4rqh9b6q2tvgc3j3o0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831382223372-iort215fnjj4p4rqh9b6q2tvgc3j3o0o</string>
	<key>API_KEY</key>
	<string>AIzaSyC7dA5zBzi3-oPeLdPaVzItPJiXj3znRuA</string>
	<key>GCM_SENDER_ID</key>
	<string>831382223372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appDevelopmentTest</string>
	<key>PROJECT_ID</key>
	<string>task-ee1f3</string>
	<key>STORAGE_BUCKET</key>
	<string>task-ee1f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831382223372:ios:c5a80485f7dfeb1e9a8c29</string>
</dict>
</plist>